on:
  workflow_dispatch:
  schedule:
    - cron: '0 17 * * MON' # post every Monday on 5pm UTC

name: post_nflverse_plot

jobs:
  retweet_nflverse:
    runs-on: ubuntu-20.04
    env:
      RSPM: https://packagemanager.rstudio.com/cran/__linux__/bionic/latest
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      TWITTERACCESSTOKEN: ${{ secrets.TWITTERACCESSTOKEN }}
      TWITTERACCESSTOKENSECRET: ${{ secrets.TWITTERACCESSTOKENSECRET }}
      TWITTERAPIKEY: ${{ secrets.TWITTERAPIKEY }}
      TWITTERAPISECRET: ${{ secrets.TWITTERAPISECRET }}

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v1
        with:
          install-r: true
          update-rtools: true

      - name: Install pak and query dependencies
        run: |
          install.packages("pak", repos = "https://r-lib.github.io/p/pak/dev/")
          saveRDS(pak::pkg_deps("local::.", dependencies = TRUE), ".github/r-depends.rds")
        shell: Rscript {0}

      - name: Restore R package cache
        uses: actions/cache@v2
        with:
         path: |
           ${{ env.R_LIBS_USER }}/*
           !${{ env.R_LIBS_USER }}/pak
         key: nflverse-tweets-${{ steps.install-r.outputs.installed-r-version }}-${{ hashFiles('.github/r-depends.rds') }}
         restore-keys: nflverse-tweets-${{ steps.install-r.outputs.installed-r-version }}-

      - name: Install system dependencies
        run: |
          pak::local_system_requirements(execute = TRUE)
          pak::pak("ropensci/rtweet")
          pak::local_install_dev_deps()
        shell: Rscript {0}

      - name: Run script
        run: |
          source("build_hashtag_plot.R", chdir = TRUE)
        shell: Rscript {0}
