on:
  workflow_dispatch:
  schedule:
    - cron: '0 17 * * MON' # post every Monday on 5pm UTC

name: post_nflverse_plot

jobs:
  post_nflverse_plot:
    runs-on: macOS-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      TWITTERACCESSTOKEN: ${{ secrets.TWITTERACCESSTOKEN }}
      TWITTERACCESSTOKENSECRET: ${{ secrets.TWITTERACCESSTOKENSECRET }}
      TWITTERAPIKEY: ${{ secrets.TWITTERAPIKEY }}
      TWITTERAPISECRET: ${{ secrets.TWITTERAPISECRET }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 2
          extra-packages: ropensci/rtweet, hrbrmstr/hrbrthemes, yixuan/showtext

      - name: Run script
        run: |
          source("build_hashtag_plot.R", chdir = TRUE)
        shell: Rscript {0}
